#toggle {
  display: none;
}

.leftbar {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #000000;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  left: -32%;
  /* for sidebar to stay on top */
  z-index: 999;
  transition: left 0.5s ease-in-out;
}

.exit {
  margin-top: 25px;
  margin-right: 25px;
  font-size: 30px;
  cursor: pointer;
  font-weight: 1800;
  color: rgb(255, 255, 255);
  float: right;
  padding: 1.1rem;
}

.button {
  position: absolute;
  cursor: pointer;
  font-weight: 1400;
  color: rgb(255, 255, 255);
  font-size: 40px;
  padding: 20px 50px;
}

#toggle:checked ~ .leftbar {
  left: 0;
}

#toggle:checked ~ .content {
  background-color: rgb(0, 0, 0);
}

.form-check-label{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.column {
  margin-top: 80px;
  margin-left: 35px;
  margin-bottom: 40px;
  float: left;
  width: 25%;
}

#left-bar-sumbit{
  margin-left: 215px;
}
